@mixin container-all{
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    align-items: center;

}
@mixin transaction{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    gap: 10px;
    @media screen and (max-width:550px) {
            width: 70%;
        }
}
@mixin money-transaction{
    display: flex;
    align-items: center;
    background-color: $listcr;
    border: 1px solid #dfdede;
    width: 250px;
    @media screen and (max-width:550px) {
            width: 100%;
    }
    padding: 16px 36px;
    // @media screen and (max-width:550px) {
    //     padding: 10px 36px;
    // }
    // gap: 120px;
    justify-content: space-between;
    border-radius: 100px;
    >h3{
        font-size: 18px;
        font-weight: 800;
        color: $greenFontcr;
        // @media screen and (max-width:550px) {
        //         font-size: 18px;
        //     }
    }
}
@mixin keterangan{
    h5{
        color: $mainFontcr;
        font-size: 14px;
        margin-bottom: 3px;
        // @media screen and (max-width:550px) {
        //         font-size: 16px;
        //     }
    }
    p{
        color:#868686;
        font-size: 12px;
        // @media screen and (max-width:550px) {
        //         font-size: 12px;
        //     }

    }
}

.container__transaction{
    @include container-all;
    > h3{
        color: $mainFontcr;
        font-weight: 800;
        font-size: 22px;
        // @media screen and (max-width:550px) {
        //      font-size: 22px;
        //     }
    }
    >p{
        color: $mainFontcr;
        font-size: 14px;
        margin-bottom: 16px;
        // @media screen and (max-width:550px) {
        //         font-size: 12px;
        //     }
    }
    .container__transaction-content{
        @include transaction;
        .container__money-transaction{
            @include money-transaction;
            .container__keterangan{
                @include keterangan;
            }
        }
    }
}